@charset "UTF-8";

.scroll_content{opacity:0; transform:translateY(50px);transition-property:transform, opacity;transition-duration:1s;transition-timing-function:ease-in-out;}
.scroll_content.active{opacity:1; transform:translateY(0);}

.wrapper{height:100%;background-color:#181612;}
header{height:109px;background-color:#000;border-bottom:1px solid #ffffff;}

.wrap{overflow:hidden;position:relative;width:100%;max-width:1170px;margin:0 auto;/* outline:2px solid #fff; */}
header .wrap{display:flex;}


/* logo */
.logo{display:inline-block;float:left;padding:30px 0 17px 35px;}

/* mobile button */
.mobile_btn span{position:absolute;top: 0;left: 0;width:100%;height:2px;background-color: #fff;}
.mobile_btn .top{top: 4px;left:0;}
.mobile_btn .middle{top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
.mobile_btn .bottom{top: auto;bottom: 4px;}

.mobile_btn.on .top{
    top: 12px;
    transform: rotate(45deg);
}
.mobile_btn.on .middle{
    display: none;
}
.mobile_btn.on .bottom{
    bottom: 17px;
    transform: rotate(-45deg);
}

/* gnb */
.gnb_wrap{display:flex;}
.mobile_btn{display:none;background-color: transparent;border: 0;}

.gnb{display:inline-block;float:left;margin-left:146px;}
.gnb ul li{display:inline-block;float:left;text-align:center;}
.gnb ul li a{padding:42px 0 41px;font-size:18px;font-weight:600;color:#ffffff;line-height:26px;letter-spacing:0;}
.gnb ul li:not(:first-child){margin-left:126px;}

/* buttonArea */
.buttonArea{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-left: 62px;
}
.buttonArea a{
    display:inline-block;
    color:#fff;
    /* padding: 42px 0 41px; */
    /* font-size: 18px; */
    font-weight: 600;
    /* line-height: 26px; */
    letter-spacing: 0;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 4px;
    }
.buttonArea a + a{/* margin-left:5px; */}
.rowgroup1{/* min-height:622px; */background:rgb(60,77,66);background:radial-gradient(circle, rgba(60,77,66,1) 0%, rgba(18,13,12,1) 100%);}
.rowTitle{margin:60px 0 27px 66px;font-size:20px;line-height:1em;color:#ffffff;}

.rowgroup2{}
/* card */
.movieList{padding:0 20px 42px 17px;}
.movieList .movieItem{display:inline-block;float:left;position:relative;width:248px;height:353px;}
.movieList .movieItem > div{display:block;width:100%;height:100%;}
.movieList .movieItem > div:hover .blackBg{opacity:1;visibility:visible;}
.blackBg .blackBgInner{overflow:hidden;height:auto;display:-webkit-box;-webkit-line-clamp:10;-webkit-box-orient:vertical;display:box;line-clamp:10;box-orient:vertical;text-align: left;font-size: 14px;}
.blackBg .more{display: inline-block;margin-top: 15px;padding: 6px;border: 1px solid #ffffff;border-radius: 5px;font-size: 15px;color: #ffffff;}
.movieList .movieItem + .movieItem{margin-left:47px;}
.movieList .movieItem img{border-radius:12px;}
@keyframes mouseMoving{
    0%{ transform:translateY(0); }
    50%{ transform:translateY(10px); }
    100%{ transform:translateY(0); }
}

.mouse-moving{display:flex;flex-direction:column;-webkit-flex-direction:column;justify-content:center;-webkit-justify-content:center;align-items:center;-webkit-align-items:center;height:8rem;padding-bottom:2.9rem;text-align:center;color:#fff;}
.mouse-moving p{margin:0; margin-top:15px;}
.mouse-moving img{transform:translateY(0);animation:mouseMoving 2s infinite ease-in-out;}

.blackBg{opacity:0;visibility:hidden;position:absolute;top:0;left:0;width:100%;height:calc(100% - 0px);padding-top: 2rem;padding-left: 1rem;border-radius:12px;background-color:rgba(0,0,0,0.8);color: #ffffff;transition:opacity 300ms ease-in .2s, visibility 300ms ease-in .3s;text-align: center;}


.rowgroup2{padding-bottom: 90px;background-color:#fff;}
.rowgroup2 .wrap{padding:0 47px 0 60px;}
.rowgroup2 .rowTitle{color:#000;margin-left:0;}
.rowgroup2 .theaterContents{}
.rowgroup2 .theaterContents .leftBox,.rowgroup2 .theaterContents .rightBox{display:inline-block;float:left;}
.rowgroup2 .theaterContents .leftBox{width:605px;height:264px;border-radius:10px;background-color:#d9d9d9;}
.rowgroup2 .theaterContents .leftBox{overflow:hidden;}
.rowgroup2 .theaterContents .leftBox img{width:100%;object-fit:cover;object-position:center top;}
.rowgroup2 .theaterContents .rightBox{width:calc((100% - 26px) - 605px);margin-left:26px;}

.rowgroup2 .theaterContents .rightBox ul li{display:-webkit-flex;display:flex;-webkit-justify-content:space-between;justify-content:space-between;position:relative;padding:23px 21px 20px 20px;font-size:19px;font-weight:600;line-height:21px;color:#222;}
.rowgroup2 .theaterContents .rightBox ul li:not(:last-child){border-bottom:1px solid #e9e9e9;}
.rowgroup2 .theaterContents .rightBox ul li > p{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 70%;
    font-size: 16px;
}
.rowgroup2 .theaterContents .rightBox ul li span{position: relative;font-size:14px;font-weight: 600;background-color:#f6f6f6;}
.rowgroup2 .theaterContents .rightBox ul li:hover:before{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:10px;
    border:1px solid #000;
    transition:all 0.3s ease-in;
}
.rowgroup3{
    min-height:453px;
    background-color:#000000;
}
.eventList{display:flex;justify-content:center;gap:64px;}
.eventList .eventItem{display:inline-block;width:249px;height:246px;border-radius:10px;background-color:#46178c;}



@media all and (max-width:1187px){
    .movieList .movieItem{width:calc((100% - 141px)/4);}
}
@media all and (max-width:1169px){
    /* card */
    .movieList{padding:0 calc(100vw * (20 / 1160)) calc(100vw * (42 / 1160)) calc(100vw * (17 / 1160));}
    .movieList .movieItem{/* width:calc(100vw * (244 / 1160)); */height:calc(100vw * (353 / 1160));}
    .movieList .movieItem + .movieItem{/* margin-left:calc(100vw * (47 / 1160)); */}
    .movieList .movieItem img{border-radius:calc(100vw * (12 / 1160));}
}
@media all and (max-width:1131px){

	header{height:auto;}
	header .wrap{justify-content:center;max-width:unset;}

	/* logo */
	.logo{padding: 1em 1em 1em 1em;}

	/*gnb*/
	.gnb{margin-left:1rem;}
	.gnb ul li:not(:first-child){margin-left:3rem;}
    .gnb ul li a{padding:2rem 0;font-size:calc(100vw * (18 / 1130));line-height:calc(100vw * (26 / 1130));}

    /* buttonArea */
    .buttonArea {gap:calc(100vw * (10 / 1130));margin-left:calc(100vw * (40 / 1130));}
    .buttonArea a{font-size:calc(100vw * (16 / 1130));}
}
@media all and (max-width:1000px){
    /*gnb*/
    .gnb ul li:not(:first-child){margin-left:calc(100vw * (15 / 750));}
    .gnb ul li a{font-size:calc(100vw * (18 / 750));line-height:calc(100vw * (26 / 750));}

    /* buttonArea */
    .buttonArea {gap:calc(100vw * (10 / 750));margin-left:calc(100vw * (40 / 750));}
    .buttonArea a{font-size:calc(100vw * (16 / 750));}

    /* card */
    .movieList{padding:0 calc(100vw * (20 / 1000)) calc(100vw * (42 / 1000)) calc(100vw * (17 / 1000));}
    .movieList .movieItem{width: calc((100% - 85px)/4);height:calc(100vw * (313 / 1000));}
    .movieList .movieItem + .movieItem{margin-left: calc(100vw * (28 / 1000));}
    .movieList .movieItem img{border-radius:calc(100vw * (12 / 1000));}
}
@media all and (max-width:700px){
    /*gnb*/
    .gnb ul li:not(:first-child){margin-left:calc(100vw * (15 / 640));}
    .gnb ul li a{font-size:calc(100vw * (16 / 640));line-height:calc(100vw * (22 / 640));}

    /* buttonArea */
    .buttonArea {gap:calc(100vw * (10 / 640));margin-left:calc(100vw * (10 / 640));}
    .buttonArea a{font-size:calc(100vw * (16 / 640));}
}

@media screen and (max-width:640px){
	header .wrap{flex-direction:column;}
	/* .gnb{display:none;} */
    .gnb_wrap{display:none;flex-direction:column;/* padding-bottom:2rem; */}
    .gnb{order: 2;margin-left: 0;}
	.gnb ul{display:flex;flex-direction:column;border-top: 1px solid #fff;margin-top: 0rem;}
    .gnb ul li:not(:first-child){margin-left:0;border-top:1px solid #ffffff;}
    .gnb ul li:not(:last-child){}
    .gnb ul li a{padding:calc(100vw * (18 / 500));font-size:calc(100vw * (16 / 500));line-height:calc(100vw * (18 / 500));}
	.buttonArea {order: 1;display: block;flex-direction: row;justify-content: space-around;gap:calc(100vw * (10 / 640));margin-left: 0;/* margin-top: 1rem; */margin-bottom: 1rem;text-align: right;margin-right: 1rem;}
    .buttonArea a{font-size:calc(100vw * (16 / 500));}
    .mobile_btn{display:block;position:absolute;left:0;top:0;right:0;bottom:0;width: 31px;height: 31px;margin: 28px 10px auto auto;}

    /* card */
    .movieList{padding:0 calc(100vw * (20 / 550)) calc(100vw * (42 / 550)) calc(100vw * (17 / 550));}
    .movieList .movieItem{width: calc((100% - 20px) /2);height: calc(100vw * (355 / 550));margin: calc(100vw * (4 / 550));}
    .movieList .movieItem + .movieItem{margin-left: 5px;}
    .movieList .movieItem img{border-radius:calc(100vw * (12 / 550));}

    /* 영화관 사진 */
    .carousel-item img{height:auto;}
}

@media screen and (max-width:575px){
    .container, .container-sm{width:100%;max-width:unset;}
}
@media screen and (max-width:497px){
    /* card */
    .movieList{padding: 0 calc(100vw * (15 / 497)) calc(100vw * (33 / 497)) calc(100vw * (15 / 497));}
    .movieList .movieItem{width: calc(100vw * (218 / 497));height: calc(100vw * (322 / 497));margin: calc(100vw * (4 / 497));}
    .movieList .movieItem + .movieItem{margin-left: 5px;}
    .movieList .movieItem img{border-radius:calc(100vw * (12 / 497));}
}
@media screen and (max-width:480px){
    .gnb ul li a{padding:calc(100vw * (18 / 360));font-size:calc(100vw * (16 / 360));line-height:calc(100vw * (18 / 360));}
    .buttonArea a{font-size:calc(100vw * (16 / 360));}
}
@media screen and (max-width:449px){
    /* card */
    .movieList{padding: 0 calc(100vw * (15 / 449)) calc(100vw * (33 / 449)) calc(100vw * (15 / 449));}
    .movieList .movieItem{width: 100%;height: auto;margin: calc(100vw * (4 / 449));}
    .movieList .movieItem + .movieItem{margin-left: 5px;}
    .movieList .movieItem img{width: 100%;border-radius:calc(100vw * (12 / 449));}
}