
@charset "UTF-8";

@import url(../../main/css/main.css);

html {
    height: 100%;
    margin: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

body {
    /* height: 100%; */
    margin: 0;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* background-image: url('./image/back.jpg'); */
    background-size: cover; /* 배경 이미지가 body 전체를 커버하도록 설정 */
    background-position: center; /* 배경 이미지가 중앙에 위치하도록 설정 */
    background-attachment: fixed;
    color: black;
}

body.login{
    /* flex-direction:column; */
}
.nameCheck {
}

.loginBox {
    
     /* 전체 박스 크기를 맞추기 위해 추가 */
}

.inputGroup {
}

.singUp {
}

.checkBox {
}

input[type="text"], input[type="email"], input[type="password"] {
}

button {
    width: 95%; /* 버튼 너비를 100%로 설정 */
    padding: 10px; /* 입력 박스와 동일한 패딩 값 */
    border-radius: 12px; /* 입력 박스와 동일한 테두리 반경 */
    border: none; /* 버튼 테두리 제거 */
    background-color: #007bff; /* 버튼 배경색 */
    color: white; /* 버튼 글자색 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    margin-top: 30px;
    font-weight: bold;
    box-sizing: border-box; /* 패딩을 포함하여 전체 너비 계산 */
}

button:hover {
    background-color: #0056b3; /* 버튼 호버 시 배경색 변경 */
}


.backButton {
}


/* 기본 스타일 */
.loginBox {
     /* 전체 박스 크기를 맞추기 위해 추가 */
}

/* 화면 너비가 768px 이하일 때 적용될 스타일 */
@media (max-width: 768px) {
    .loginBox {
        width: 90%; /* 화면 너비에 따라 박스의 너비를 조정 */
        height: auto; /* 내용에 맞춰 높이가 조정되도록 변경 */
        padding: 10px; /* 화면 크기가 작을 때는 패딩을 줄임 */
    }
}

/* 화면 너비가 480px 이하일 때 적용될 스타일 */
@media (max-width: 480px) {
    .loginBox {
        width: 95%; /* 더 작은 화면에 맞게 너비를 늘림 */
    }
}

.error {
}


/* 성공 창 */

.successBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 700px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1), 0 16px 32px rgba(0,0,0,0.1), 0 32px 64px rgba(0,0,0,0.1);
    box-sizing: border-box;
    text-align: center; /* 텍스트 중앙 정렬 */
}

.successBox img {
    margin-top: -20px; /* 이미지를 위로 조금 올림 */
    margin-bottom: 20px; /* 텍스트와의 간격 조정 */
}

.successBox h1 {
    font-size: 1.7em; /* 큰 글씨 */
    margin-top: -50px; /* 텍스트 사이 간격 */
    margin-bottom: 10px;
}

.successBox p {
    font-size: 1em; /* 작은 글씨 */
    margin-top: 0px;
}

.successButton {
    padding: 10px 20px; /* 버튼 내부 여백 */
    font-size: 1em; /* 글꼴 크기 */
    color: white; /* 글자 색상 */
    background-color: #007bff; /* 배경 색상 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 둥근 모서리 */
    cursor: pointer; /* 커서 모양 변경 */
    outline: none; /* 포커스 시 아웃라인 제거 */
    margin-top: 20px; /* 위쪽 마진 (위 요소와의 간격) */
}

.successButton:hover {
    background-color: #0056b3; /* 호버 시 배경 색상 변경 */
}